<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM Media</title>
    <link rel="stylesheet" href="stylesheets/utils.css">
    <style>
        .main {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.7rem;
        }
    </style>
</head>

<body>
    <div class="main">
        <a href="/user/login">
            <button>Login</button>
        </a>
        <a href="/user/signup">
            <button>SignUp</button>
        </a>
    </div>
</body>

</html>